<div id="rules_flow_chart">
  <h1>RULES</h1>
  <ul class="menu">
    <li><a href="/rules">参加資格</a></li>
    <li>大会の流れ</a></li>
    <li><a href="/rules/next">次回予告</a></li>
  </ul>
  <div class="round">
    <h2>1st Round</h2>
    <%= image_tag 'icon_laptop.png' %>
    <p>ユーザーの皆様の「かわいい！」ボタンの合計点を集計し、上位4~6名程度が決勝ラウンドに進出します。</p>
    <p class="cursor"><%= image_tag 'cursor.png' %></p>
  </div>
  <div class="round">
    <h2>Final Round</h2>
    <%= image_tag 'icon_stage.png' %>
    <p>決勝ラウンドはユーザーによる決戦投票、もしくは会場での実施を予定しています。</p>
    <p class="cursor"><%= image_tag 'cursor.png' %></p>
  </div>
  <div class="round">
    <h2>Grand Prix</h2>
    <%= image_tag 'icon_torophy.png' %>
    <p>決勝ラウンドでグランプリを受賞された方には金の表札をプレゼントします。<br>
賞金はクラウドファンディングで現在調達中です。</p>
  </div>
</div>